*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header{
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    align-items: center; /* Garante alinhamento vertical */
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

header nav li{
    border-radius: 15px;
    padding: 10px;
    
    
}
nav li a{
    text-decoration:none ;
    color: white; 
    font-size: 18px;
    padding: 10px 15px;
    display: block; 
}

a:hover{
    color: red;
    transition: 1s;

}
